//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        enter {
            bindings = <&kp ENTER>;
            key-positions = <18 17 16 16 17 16 17 18>;
            layers = <0>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                     &kp Q           &kp W           &kp E        &kp R             &kp T          &kp Y            &kp U              &kp I        &kp O            &kp P
                     &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LCTRL D  &mt LEFT_SHIFT F  &kp G          &kp H            &mt RIGHT_SHIFT J  &mt RCTRL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI
&mt CAPSLOCK ESCAPE  &kp Z           &kp X           &kp C        &kp V             &kp B          &kp N            &kp M              &kp COMMA    &kp DOT          &kp FSLH            &kp ENTER
                                                     &kp TAB      &mo 4             &lt 3 SPACE    &lt 3 BACKSPACE  &mo 4              &none
            >;
        };

        game {
            bindings = <
         &kp TAB    &kp Q  &kp W     &kp E   &kp R        &trans  &trans  &trans  &trans  &trans
         &kp LSHFT  &kp A  &kp S     &kp D   &kp F        &trans  &trans  &trans  &trans  &trans
&kp ESC  &kp LCTRL  &kp Z  &kp X     &kp C   &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                           &kp LALT  &trans  &kp SPACE    &trans  &trans  &trans
            >;
        };

        aurora {
            bindings = <
         &kp H  &kp G  &kp V  &kp I    &kp K        &kp T     &kp L  &mt RA(COMMA) C  &kp Q   &trans
         &kp U  &kp O  &kp E  &kp A    &kp F        &kp S     &kp R  &kp N            &kp D   &kp P
&kp ESC  &kp Z  &kp X  &kp B  &kp J    &kp W        &kp Y     &kp M  &trans           &trans  &trans  &trans
                       &to 0  &kp TAB  &kp SPACE    &kp BSPC  &none  &trans
            >;
        };

        nav_func {
            bindings = <
       &kp F1           &kp F2           &kp F3        &kp F4             &kp LC(X)    &kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END          &none
       &mt LEFT_GUI F5  &mt LEFT_ALT F6  &mt LCTRL F7  &mt LEFT_SHIFT F8  &kp LC(C)    &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none
&none  &kp F9           &kp F10          &kp F11       &kp F12            &kp LC(V)    &none          &kp INS         &none           &kp DEL          &none  &none
                                         &trans        &trans             &trans       &none          &none           &none
            >;
        };

        sym_num {
            bindings = <
       &none     &none     &none      &none      &none    &kp N1     &kp N2     &kp N3     &kp N4    &kp N5
       &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none    &kp N6     &kp N7     &kp N8     &kp N9    &kp N0
&none  &none     &none     &none      &none      &none    &kp MINUS  &kp GRAVE  &kp APOS   &kp LBKT  &kp RBKT  &kp BSLH
                           &none      &none      &none    &none      &none      &kp EQUAL
            >;
        };

        layer_6 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        layer_7 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };
};
