//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
                     &kp Q           &kp W           &kp E        &kp R             &kp T          &kp Y            &kp U              &kp I        &kp O            &kp P
                     &mt LEFT_GUI A  &mt LEFT_ALT S  &mt LCTRL D  &mt LEFT_SHIFT F  &kp G          &kp H            &mt RIGHT_SHIFT J  &mt RCTRL K  &mt RIGHT_ALT L  &mt RIGHT_GUI SEMI
&mt CAPSLOCK ESCAPE  &kp Z           &kp X           &kp C        &kp V             &kp B          &kp N            &kp M              &kp COMMA    &kp DOT          &kp FSLH            &kp ENTER
                                                     &kp TAB      &mo 3             &lt 2 SPACE    &lt 2 BACKSPACE  &mo 3              &none
            >;
        };

        game {
            bindings = <
         &kp TAB    &kp Q  &kp W     &kp E   &kp R        &trans  &trans  &trans  &trans  &trans
         &kp LSHFT  &kp A  &kp S     &kp D   &kp F        &trans  &trans  &trans  &trans  &trans
&kp ESC  &kp LCTRL  &kp Z  &kp X     &kp C   &kp V        &trans  &trans  &trans  &trans  &trans  &trans
                           &kp LALT  &trans  &kp SPACE    &trans  &trans  &trans
            >;
        };

        nav_func {
            bindings = <
       &none     &none     &none      &none      &none     &none  &kp HOME        &kp UP_ARROW    &kp END          &none
       &kp LGUI  &kp LALT  &kp LCTRL  &kp LSHFT  &none     &none  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none
&none  &none     &none     &none      &none      &none     &none  &kp INS         &none           &kp DEL          &none  &none
                           &trans     &trans     &trans    &none  &none           &none
            >;
        };

        sym_num {
            bindings = <
       &none  &none  &none  &none  &none    &kp N1     &kp N2     &kp N3     &kp N4     &kp N5
       &none  &none  &none  &none  &none    &kp N6     &kp N7     &kp N8     &kp N9     &kp N0
&none  &none  &none  &none  &none  &none    &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE  &kp SPACE
                     &none  &none  &none    &none      &none      &none
            >;
        };

        device {
            bindings = <
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
       &none  &none  &none  &none  &none    &none  &none  &none  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none  &none  &none  &none  &none
                     &none  &none  &none    &none  &none  &none
            >;
        };

        layer_5 {
            bindings = <
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
        &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        device {
            if-layers = <2 3>;
            then-layer = <4>;
        };
    };
};
